{{ define "main" }}
  {{ if .Content }}
  <article class="f4-l">
  
    <section class="cf {{ $.Param "text_color" | default "mid-gray" }}">
      {{ .Content }}
    </section>
  </article>
{{ end }}
    <section class="w-80-l center pv3 ph4-l">
      {{ range .Paginator.Pages }}
        <div class="flex-l flex-wrap justify-between mw8 center ph3">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
    <div class="flex justify-center">{{- template "_internal/pagination.html" . -}}</div>
  </article>
{{ end }}
