{{ if .Inner }}
  <article class="pl6-l pl3 w-100 center fl vh-87-l flex items-stretch">
  
    <section class="w-30 w-50-l pv2 flex items-center">
      
      <div class="z-1">
      <h1 class="f1-stark-xl f1-stark-l f3 tl mb3">{{ .Get "h1_text" | safeHTML }}</h1>
        <div class="w-100 tl f3-l color-grey nowrap">{{ .Inner | markdownify }}</div>
         <div class="mt5-l mb0-l mt4 mb5-l mb4 fl">
         <a class="button-xl no-underline color-grey red-button br5 pa2 ph3 hover-white-50" href="{{ .Site.BaseURL }}{{ .Get "contact_url" }}" title="{{ i18n "contactTitle" }}">
               {{ i18n "conocenos" }}
         </a>
      </div>
     
        
      </div> 
      
    </section> 
    
      <section class="w-100-l flex o-50 o-100-l z-0">
          <div class="flex w-100 ">
            <img class="w-100" src="{{ .Page.Params.img1 }}"> 
          </div>
      </section>
  
  </article>
  
  
  <!-- sub -->
    <article class="flex items-center ph6-l ph3 pv6-l pv4 w-100 center fl red-stark">
    <section class="w-100">
      
      <div class="flex-l justify-between reverse">
      <div class="w-50-l w-100-m pl4-l">
      <h2 class="f1-stark-l tl white mt0 mb3">{{ .Get "section_heading" }}</h2> 
        <div class="tl f3-l white ">{{ .Get "section_text" | safeHTML }}</div>
         <div class="mt5-l mb0-l mt4 mb4 fl">
         <a class="button-xl hover-black-50 no-underline black bg-white br5 pa2 ph3" href="{{ .Site.BaseURL }}{{ .Get "contact_url" }}" title="{{ i18n "contactTitle" }}">
               {{ i18n "ViewMore" }}
         </a>
      </div>
      </div>
        <div class="fl br-3-c pr4-l w-50-l w-100-m">
         
            <img class="w-100" src="{{ .Page.Params.img2 }}"> 
          
        </div>
      </div> 
      
    </section>
  </article>
  
    <!-- sub2 -->
    <article class="pv4 pv5-l w-100 center vh-87-l fl  pl4-l pl3 fl bg-white">
    <section class="f3-l bg-s-contain " style="background-image: url(./imagenes/misc.png);
    background-repeat: no-repeat;
    background-position: right;">
       <h2 class="f1-stark-l tl color-grey mt0 mt4 mb3 w-80 center">{{ .Get "section_heading_2" }}</h2> 
      <div class="flex-l justify-between w-80 center" >
      
      <div class=" mt0 w-100">
     
        <div class="w-100 tl f3-l color-grey ">{{ .Get "section_text_2" }}</div>
         
           <ul class="color-red-stark fw6 pt3 mb0">
              <li class="pv2 ul-c ">QRADAR</li>
              <li class="pv2 ul-c ">GUARDIUM</li>
              <li class="pv2 ul-c ">SAFE GUARDED COPY</li>
              <li class="pv2 ul-c ">COPIAS INMUTABLES</li>
           </ul>
       
      </div>
        <div class="w-100 fl br-3-c pl6-l flex flex-column-l justify-between-l items-center justify-around ph4-l pv4 pv0-l">
          <div>
            <img class="mw8-l mw3" src="{{ .Page.Params.img3 }}"> 
          </div>
          <div>
            <img class="mw8-l mw3" src="{{ .Page.Params.img4 }}"> 
          </div>
        </div>
      </div> 
      
    </section>
  </article>
  
  <!-- sub3 -->
  <article class="w-100 center fl vh-87-l">
  
    <section class="w-100">
      <div  class="red-stark pv4 pv4-l">
      <h2 class="f2-l white tc mt0 mb3 ttu">{{ .Get "section_heading_3" }}</h2> 
        <div class="w-100 tl f3-l white tc">
           <span>{{ .Get "section_subheading_3" }}</span> <br><span>{{ .Get "section_subheading_4" }}</span>
        </div>
      </div>
    </section>
    
    
    <section class="w-100 pv5-l pv3 fl ph6-l ph3" style="background-image: url('{{ .Page.Params.background_services}}');
    background-repeat: no-repeat;
    background-size: cover;">
      
    <div class="flex-l reverse justify-between">
      <div class="w-50-l w-100 min-h-230 vh-50-l ph5-l  ph4 mv3 fl br-3-c linear-red-stark-op">
          <h2 class="f1-l f1-xl  f2 white fw9 mb3">{{ .Get "section_box_heading_1" }}</h2> 
          <p class="f3-l white mv0 pr5">{{ .Get "section_box_text_1" }}</p>
      </div>
    </div> 
      
    <div class="flex-l justify-between">
      <div class="w-50-l w-100 min-h-230 vh-50-l ph5-l ph4  mv3 fl br-3-c linear-red-stark-op">
          <h2 class="f1-l f1-xl  f2 white fw9 mb3">{{ .Get "section_box_heading_2" }}</h2> 
          <p class="f3-l white mv0 pr5">{{ .Get "section_box_text_2" }}</p>
      </div>
    </div> 
      
      <div class="flex-l reverse justify-between">
        <div class="w-50-l w-100 min-h-230 vh-50-l ph5-l  ph4 mv3 fl br-3-c linear-red-stark-op">
            <h2 class="f1-l f1-xl  f2 white fw9 mb3">{{ .Get "section_box_heading_3" | safeHTML }}</h2> 
            <p class="f3-l white mv0 pr5">{{ .Get "section_box_text_3" }}</p>
        </div>
      </div> 
      
      <div class="flex-l justify-between">
        <div class="w-50-l w-100 min-h-230 vh-50-l ph5-l  ph4  mv3 fl br-3-c linear-red-stark-op">
            <h2 class="f1-l f1-xl f2 white fw9 mb3">{{ .Get "section_box_heading_4" }}</h2> 
            <p class="f3-l white mv0 pr5">{{ .Get "section_box_text_4" }}</p> 
        </div>
      </div> 
      
      <div class="flex-l reverse justify-between">
        <div class="w-50-l w-100 min-h-230 vh-50-l ph5-l  ph4  mv3  fl br-3-c linear-red-stark-op">
            <h2 class="f1-l f1-xl  f2 white fw9 mb3">{{ .Get "section_box_heading_5" | safeHTML }}</h2> 
            <p class="f3-l white mv0 pr5">{{ .Get "section_box_text_5" }}</p> 
        </div>
      </div> 
      
      <div class="flex-l justify-between">
        <div class="w-50-l w-100 min-h-230 vh-50-l ph5-l  ph4 mv3 fl br-3-c linear-red-stark-op">
            <h2 class="f1-l f1-xl f2 white fw9 mb3">{{ .Get "section_box_heading_6" }}</h2> 
            <p class="f3-l white mv0 pr5">{{ .Get "section_box_text_6" }}</p>
        </div>
      </div> 
      
     
    </section>
 
    
     <section class="w-100 red-stark pv4 ph2 fl">
      
      <h2 class="f2-l white tc ttu">{{ .Get "section_heading_4" }}</h2> 
     
    </section>
  
  </article>
{{ end }}
