{{ if .Inner }}
  <article class="ph3 ph0-l w-100 center fl">
    <section class="ml3-l mh5-l ph4 ph5-l pv4 pv5-l f3-l lh-copy color-deep-blue-stark lite-grey-stark br-2-c vh-85-l fl">
      <h1 class="f1-stark-l mb3 mt4-l tl">{{ .Page.Title}}</h1> 
      <div class="flex-l justify-between items-center">
        <p class="w-100 tl mt0 f3-l">{{ .Inner | markdownify }}</p>
        <div class="w-80 fl">
          <div class="flex justify-end">
            <img class="w-50" src="{{ .Page.Params.img1 }}"> 
            <img class="w-50" src="{{ .Page.Params.img2 }}"> 
          </div>
        </div>
      </div> 
      <h2 class="ttu f5 f4-m f2-ns w-100 fl tl">{{ .Get "h2_text" }}</h2>
      <div class="mt4-l mb0-l mt2 mb5 fl">
         <a class="button-xl no-underline color-grey red-button br5 pa2 ph3 hover-white-50 f5" href="{{ .Site.BaseURL }}{{ .Get "contact_url" }}" title="{{ i18n "contactTitle" }}">
               {{ i18n "conocenos" }}
         </a>
      </div>
    </section>
  </article>
{{ end }}
