{{ if .Inner }}
  <article class="w-100 center fl dn-m">
    <section class="ml3-l mh5-l ph4 ph5-l pv4 pv5-l f3-l lh-copy black bg-white br-2-c vh-85-l">
      
      <div class="flex-l justify-between mb2-l mt4-l">
      <div class="pr4">
      <h1 class="f1-stark-l tl mt0 mb3">{{ .Get "h1_text" }}</h1> 
        <p class="w-100 tl f3-l mt0 color-grey">{{ .Inner | markdownify }}</p>
         <div class="mt5-l mb0-l mt4 mb5 fl">
         <a class="button-xl no-underline color-grey red-button br5 pa2 ph3 hover-white-50 f5" 
            href="{{ .Site.BaseURL }}{{ .Get "contact_url" }}"
            title="{{ i18n "contactTitle" }}">
               {{ i18n "solicitar" }}
         </a>
      </div>
      </div>
        <div class="w-80-l fl mt2">
          <div class="flex justify-center">
            <img class="" src="{{ .Page.Params.img1 }}"> 
          </div>
        </div>
      </div> 
      
    </section>
  </article>
  
    <article class="ph3 w-100 center fl dn-l">
    <section class="pv4 bg-white vh-85-l">
      
      <div class="flex flex-column items-center">
      
      <h1 class="f2-l tl mt4">{{ .Get "h1_text" }}</h1> 
    
          <div class="flex justify-center pv4">
            <img class="w-50" src="{{ .Page.Params.img1 }}"> 
          </div>
      
        
        <p class="w-100 tl  mt4 mb3 color-grey ph3">{{ .Inner | markdownify }}</p>
         <div class="mt5-l mt4 mb5 fl">
         <a class="no-underline color-grey red-button br5 pa2 ph3 hover-white-50 f5" 
            href="{{ .Get "contact_url" }}"
            title="{{ i18n "contactTitle" }}">
               {{ i18n "solicitar" }}
         </a>
        </div>
      
      
      </div> 
      
    </section>
  </article>
{{ end }}
