{{ if .Inner }}
  <article class="w-100 ph5-l ph3 center fl">
    <section class="ph4 ph5-l pv4 pv5-l  white linear-red-stark br-2-c vh-85-l fl">
      
        <div><h1 class="f1-stark-l mb3 mt4-l tl">{{ .Page.Title}}</h1></div>
        
        <div class="flex-l justify-between">
        
        <div class="w-50-l fl flex flex-column justify-between">
          <p class="w-100 tl f3-l mt0">{{ .Inner | markdownify }}</p>
           <h2 class="ttu mv3 f5 f4-m f2-ns w-100 fl tl">{{ .Get "h2_text" }}</h2>
           <p class="mb0-l mb4 mt0 fl br-container-1  f3-l tl">
             {{ .Get "br_content" }}
           </p>
        </div> 
      
        <div class="w-45-l tl bg-white fr color-grey br-container-1">
           <h2 class="ttu f2-l color-red-stark mt0">{{ .Get "section_heading" }}</h2>
           <p>
            {{ .Get "section_text" }}
           </p>
           <div class="mt4-l mb4-l mt2 mb5-l mb4 fl">
             <a class="button-xl no-underline color-grey red-button br5 pa2 ph3 hover-white-50 f5" href="{{ .Site.BaseURL }}{{ .Get "contact_url" }}" title="{{ i18n "contactTitle" }}">
               {{ i18n "ViewMore" }}
             </a>
           </div>
        </div>
        
        </div>

    </section>
  </article>
{{ end }}

